
html,body{
	width:100vw;
	height:100vh;
	padding:0;
	margin:0;
}
#dTable{
	padding:10px;
	box-sizing:border-box;
	width:100%;
	overflow:auto;
}
.progressbar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

.barstatus {
  position: absolute;
  width: 10%;
  height: 100%;
}
#bGreen{
  background-color: green;
}
#bRed{
  background-color: red;
}

.grid_progressbar {
  display: grid;
  gap: 12px 12px;
	grid-template-columns: 1fr 19fr;
}
