#root {
	--anvil-color-Primary-500-5e65: #000000;
	--anvil-color-Primary-700-542b: #616161;
	--anvil-color-Secondary-500-e606: #ff9800;
	--anvil-color-Secondary-700-2dbe: #f57c00;
	--anvil-color-White-b697: #ffffff;
	--anvil-color-Gray-50-da28: #fafafa;
	--anvil-color-Gray-100-588b: #f5f5f5;
	--anvil-color-Gray-200-489d: #eeeeee;
	--anvil-color-Gray-300-5b4f: #e0e0e0;
	--anvil-color-Gray-600-9be3: #757575;
	--anvil-color-Gray-800-7b81: #424242;
	--anvil-color-Gray-900-5221: #212121;
	--anvil-color-Black-7b57: #000000;
}

/* #region resets */
html,
body,
h1 {
	margin: 0;
	padding: 0;
	font-family: opensans;
	cursor: default;
}
a {
	color: inherit;
	text-decoration: none;
	padding-right: 6px;
}
a:hover {
	color: inherit;
	opacity: 0.8;
}
a,
button,
input[type='submit'] {
	cursor: pointer;
}
label,
input {
	font-size: 14px;
	font-family: opensans;
}
legend {
	border: 1px solid green;
	color: green;
	font-size: 75%;
	margin-left: 16px;
	text-align: left;
}
fieldset {
	font-size: 90%;
	border: none;
	margin-top: 2%;
	height: 96%;
	/* float: left; */
	position: relative;
	text-align: left;
	color: dimgray;
}
fieldset .disabled {
	color: #404b56;
	opacity: 0.3;
	cursor: default;
}
/* #endregion  */

/* #region loader_holder (html:header) */
.loader_on {
	position: fixed;
	top: 96px;
	left: 30vw;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	padding: 2px;
	box-sizing: border-box;
}
.loader_off {
	display: none;
}
/* #endregion loader_holder */

/* #region classes for elements */
.input,
.textarea,
.select select {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	min-height: 2.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(0.5em - 1px);
	padding-left: calc(0.75em - 1px);
	padding-right: calc(0.75em - 1px);
	padding-top: calc(0.5em - 1px);
	position: relative;
	vertical-align: top;
}
.button {
	text-align: center;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 1rem;
	line-height: 1.5;
	outline: none;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.input,
.textarea,
.select select {
	background-color: white;
	border-color: #dbdbdb;
	border-radius: 4px;
	color: #363636;
	box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
	max-width: 100%;
	box-sizing: border-box;
	width: 100%;
	font-family: opensans;
}
.input:hover,
.textarea:hover,
.select select:hover,
.is-hovered.input,
.is-hovered.textarea,
.select select.is-hovered {
	border-color: #b5b5b5;
}
.button:focus,
.input:focus,
.textarea:focus,
.select select:focus,
.button:active,
.input:active,
.textarea:active,
.select select:active {
	outline: none;
	border-color: silver;
	box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}
.table {
	border-collapse: collapse;
	/* width: 100%; */
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}
.table th,
.table td {
	padding: 0.25rem 0.75rem;
	vertical-align: top;
	text-align: left;
	border-top: 1px solid #dee2e6;
	max-height: 50px;
	max-width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.doublesize:hover {
	transform: scale(3);
	/* transform-origin: 50%; */
	transition: transform 0.2s; /* Animation */
}
.magnify_on_hover:hover {
	transform: scale(2);
	transform-origin: 50%;
	transition: transform 0.2s; /* Animation */
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.hidden {
	flex: 0;
}

/* #endregion  */


/* #region cosensus */
.cobody {
	background-color: blue;
	/* background-image: url("./base/assets/images/cosensus/background-image.jpg");  */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto 120%;
	/* background-position: 0px 96px; */
}
.coheader {
	min-height: 74px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}
.cologo {
	height: 64px;
	cursor: pointer;
}
.cowrapper {
	width: 100%;
	display: flex;
	align-items: center;
	/* flex-flow: column nowrap; */
	text-align: center;
	padding: 12px 0;
	color: white;
	font-size: 24px;
	line-height: 32px;
}
.fett {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
.wb {
	background: white;
	color: black;
}
.card300 {
	overflow: hidden;
	min-width: 300px;
	border-radius: 2px;
	/* padding: 12px; */
	box-sizing: border-box;
	font-size: 14px;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn{
	padding: 12px;
	cursor:pointer;
}
.btn:hover{
	background: #ffffffa0;
	filter: invert();
	opacity: .5;
}
.btn:active{
	background: #000000a0;
	color: white;
}
.btnX{
	color: dimgray;
	cursor: pointer;
}
.btnX:hover{
	filter: invert();
	opacity: .7;
}
.btnX:active{
	color: white;
}
.no_outline{
	outline: none;
	border: 0;
}

.coinput{
	pointer-events: auto;
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	font-family: inherit;
	width: 96%;
	background-image: none;
	display: block;
	margin-top: 4px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 0;
	background-color: transparent;
	color: rgba(0,0,0,0.87);
	box-shadow: none;
	padding: 8px 0 4px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.42);
	transition: border-bottom 0.2s, padding-bottom 0.2s;
	height: initial;
	margin-bottom: 8px;
	text-align: left;
}
.coinput:hover{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid rgba(0,0,0,.87);
	padding-bottom: 3px;
	text-align: left;	
}
.coinput:active, .coinput:focus{
	border-color: #66afe9;
	outline: 0;
	height: initial;
	border-bottom: 2px solid #66afe9;
	padding-bottom: 3px;
}
.coform{
	width: 96%;
	min-height: 200px;
	padding-bottom: 10px;
}

.svgbtnX{
	fill: transparent;
	stroke: blue;
	stroke-width:3;
	/* stroke: yellow; */
	cursor: pointer;
}
.svgbtnX:hover{
	filter: invert();
	opacity: .7;
}
.svgbtnX:active{
	fill: red;
}





















/* #endregion */
